$badge-font-size: 75%;
$badge-default-variant: "secondary";

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 4px;
  padding: 0.25em 0.5em;
  line-height: 1;
  font-weight: 700;
  border-radius: 20px;
  font-size: $badge-font-size;
  vertical-align: baseline;

  .btn > & {
    margin-left: 0.5rem;
  }

  @each $key, $value in $sizes {
    &.badge-#{$key} {
      font-size: #{$value}em;
      padding: 0 #{calc($value/3)}em;
      &:empty {
        height: #{$value}rem;
        padding: 0 #{calc($value/2)}rem;
      }
    }
  }
}
