.card {

  background-color: var(--base);
  color: var(--base-content);
  --border-color: var(--base-500);
  $header-footer-color: var(--base-200);

  border: 1px solid var(--border-color);
  border-radius: 4px;

  &-body {
    padding: 1rem;

    & > .card-title {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }

  &-header,
  &-footer {
    padding: 0.75rem 1rem;
    background-color: $header-footer-color;
  }

  &-header {
    display: flex;
    border-bottom: 1px solid var(--border-color);
  }

  &-footer {
    display: flex;
    border-top: 1px solid var(--border-color);
  }
}
