.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-target {
    display: inline;
    width: 100%;
    height: 100%;
  }

  .dropdown-content {
    position: absolute;
    min-width: 200px;

    display: none;
    opacity: 0;

    &.dropdown-end {
      right: 0;
    }

    &.dropdown-top {
      bottom: 100%;
    }

    &.dropdown-left {
      right: 100%;
    }

    &.dropdown-right {
      left: 100%;
    }

    &.dropdown-left,
    &.dropdown-right {
      top: 0;
      &.dropdown-end {
        bottom: 0;
        top: auto;
      }
    }

    &.open {
      display: block;
      opacity: 1;
    }
  }
}
