@mixin form-control-variant($color) {

	--color: var(#{'--' + $color});
	--content-color: var(#{'--' + $color + '-content'});
	--focus-color: var(#{'--' + $color + '-900'});
	--shadow-color: var(#{'--' + $color + '-200'});
	--border-color: var(#{'--' + $color + '-500'});

}

.form-control {
	@include form-control-variant('base');

	--size: 1rem;
	--padding-x: 1rem;
	--padding-y: 0;

	padding: var(--padding-y) var(--padding-x);
	width: 100%;
	height: calc(var(--size) * 2.5);
	box-sizing: border-box;
	font-size: var(--size);
	border-radius: 4px;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: start;
	appearance: none;

	border-width: 1px;
	border-style: solid;
	transition: all 0.2s ease;
	border: 1px solid var(--border-color);
	color: var(--base-content);
	background-color: var(--base);


	&:focus {
		box-shadow: 0 0 0.25rem 0.25rem var(--shadow-color);

		border-color: var(--focus-color);
	}

	$checkbox-checked-icon: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"18.134"%20height%3D"15.066"><polygon%20fill%3D"%23fff"%20points%3D"18.134%2C3.119%2015.013%2C0%206.187%2C8.827%203.12%2C5.76%200%2C8.878%206.185%2C15.066%206.187%2C15.064%206.187%2C15.066"%2F><%2Fsvg>');

	&[type='checkbox'] {
		display: inline-block;
		width: var(--size);
		height: var(--size);
		--padding-x: 0;
		--padding-y: 0;
		margin: 0;
		--border-opacity: 1;

		&:hover {
			background-color: none !important;
		}

		&:checked {
			--bg-opacity: 0.75 !important;

			background-image: $checkbox-checked-icon;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 75%;
		}
	}

	&[type='radio'] {
		display: inline-block;
		width: var(--size);
		height: var(--size);
		--padding-x: 0;
		--padding-y: 0;
		margin: 0;
		border-radius: 50%;

		--border-opacity: 1 !important;

		&:checked {
			$color: get-color(var(--border-color), 1);
			--radio-size: calc(var(--size) / 4);

			box-shadow: 0 0 0 var(--radio-size) #{$color} inset, 0 0 0 var(--radio-size) #{$color} inset;
		}
	}

	@each $key, $value in $sizes {
		&.form-control-#{$key} {
			--size: #{$value}rem;
		}
	}

	@each $key, $value in $variants {
		&.form-control-#{$key} {
			@include form-control-variant($key);
		}
	}
}
