.avatar {
    border-radius: 50%;

    display: inline-flex;

    align-items: center;
    justify-content: center;
    vertical-align: center;

    background-position: center;
    background-repeat: no-repeat;
    user-select: none;

    --size: 1rem;
    font-size: var(--size);

    @each $key, $value in $sizes {
        &.avatar-#{$key} {
            --size: #{$value}rem;
        }
    }

    --avatar-size: calc(var(--size) * 2.5);

    width: var(--avatar-size);
    height: var(--avatar-size);
}