$lt-opacity: 0.2;

@mixin bg-color($color) {
  background-color: get-color($color, 1);
  color: get-color(content-color($color));
}
@mixin bg-color-outline($color) {
  border: 1px solid get-color($color);
  color: get-color($color);
}

@mixin bg-color-lt($color) {
  background-color: get-color($color, $lt-opacity);
  color: get-color($color);
}

@each $key, $value in $colors {
  .bg-#{$key} {
    @include bg-color(color($key));
  }

  .bg-#{$key}-lt {
    @include bg-color-lt(color($key));
  }
  
  .bg-#{$key}-outline {
    @include bg-color-outline(color($key));
  }

  .dark .dark\:bg-#{$key} {
    @include bg-color(color($key));
  }
  .dark .dark\:bg-#{$key}-lt {
    @include bg-color-lt(color($key));
  }
  .dark .dark\:bg-#{$key}-outline {
    @include bg-color(color($key));
  }
}

.dark {
  @include bg-color(to-hsl(#202020));
}

@for $key from 0 through 5 {
  $value: $key * 0.25rem;

  .m-#{$key} {
    margin: $value !important;
  }
  .mx-#{$key} {
    margin-left: $value !important;
    margin-right: $value !important;
  }

  .my-#{$key} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }

  .mt-#{$key} {
    margin-top: $value !important;
  }

  .mb-#{$key} {
    margin-bottom: $value !important;
  }

  .ml-#{$key} {
    margin-left: $value !important;
  }

  .mr-#{$key} {
    margin-right: $value !important;
  }

  .p-#{$key} {
    padding: $value !important;
  }
  .px-#{$key} {
    padding-left: $value !important;
    padding-right: $value !important;
  }

  .py-#{$key} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }

  .pt-#{$key} {
    padding-top: $value !important;
  }

  .pb-#{$key} {
    padding-bottom: $value !important;
  }

  .pl-#{$key} {
    padding-left: $value !important;
  }

  .pr-#{$key} {
    padding-right: $value !important;
  }
}

.hidden {
  display: none !important;
}
@each $display in (flex, inline, block, inline-block, inline-flex, grid) {
  .#{$display} {
    display: $display !important;
  }
}

@each $name in ("sm", "md", "lg", "xl") {
  @include breakpoint($name) {
    .#{$name}\:hidden {
      display: none !important;
    }
    @each $display in (flex, inline, block, inline-block, inline-flex, grid) {
      .#{$name}\:#{$display} {
        display: $display !important;
      }
    }
  }
}

.text-muted {
  opacity: 0.8;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}
