@import "./reboot";

@import "./colors";
@import "./prepare";
@import "./sizes";

@import "./grid";
@import "./utilities";
@import "./overlay";

@import "./components/avatar";
@import "./components/badge";
@import "./components/breadcrumb";
@import "./components/button";
@import "./components/card";
@import "./components/dropdown";
@import "./components/icon";
@import "./components/input";
@import "./components/label";
@import "./components/menu";
@import "./components/modal";
@import "./components/navbar";
@import "./components/page";
@import "./components/form-group";

:root {
    @each $key, $value in $variants {
        @debug $value;
        --#{$key}: #{$value};
        --#{$key}-100: #{rgba($value, 0.1)};
        --#{$key}-200: #{rgba($value, 0.2)};
        --#{$key}-300: #{rgba($value, 0.3)};
        --#{$key}-400: #{rgba($value, 0.4)};
        --#{$key}-500: #{rgba($value, 0.5)};
        --#{$key}-600: #{rgba($value, 0.6)};
        --#{$key}-700: #{rgba($value, 0.7)};
        --#{$key}-800: #{rgba($value, 0.8)};
        --#{$key}-900: #{rgba($value, 0.9)};
        --#{$key}-content: #{content-color($value)};
        
        --#{$key}-focus: #{focus-color($value)};
        --#{$key}-shadow: #{variant($key, 0.3)};
    }


    --base: hsl(0, 0%, 100%);
    --base-100: hsl(0, 0%, 97%);
    --base-200: hsl(0, 0%, 94%);
    --base-300: hsl(0, 0%, 91%);
    --base-400: hsl(0, 0%, 88%);
    --base-500: hsl(0, 0%, 85%);
    --base-600: hsl(0, 0%, 82%);
    --base-700: hsl(0, 0%, 79%);
    --base-800: hsl(0, 0%, 76%);
    --base-900: hsl(0, 0%, 73%);
    
    --base-focus: #eee;
    --base-shadow: #{variant('primary', 0.2)};
    --base-content: #{content-color(#fff)}; 
   

    .dark {
        --base: hsl(0, 0%, 20%);
        --base-100: hsl(0, 0%, 23%);
        --base-200: hsl(0, 0%, 26%);
        --base-300: hsl(0, 0%, 29%);
        --base-400: hsl(0, 0%, 32%);
        --base-500: hsl(0, 0%, 35%);
        --base-600: hsl(0, 0%, 38%);
        --base-700: hsl(0, 0%, 41%);
        --base-800: hsl(0, 0%, 44%);
        --base-900: hsl(0, 0%, 47%);
        
    
        --base-focus: #333;
        --base-shadow: #{variant('primary', 0.2)};
        --base-content: #{content-color(#222)}; 
    }

}